@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    border-style: solid;
    margin: 0;
}

.logo-area {
    flex: 1;

}

.logo-background {
    height: 100%;
    max-width: 100%;
}

.logo-banner {
    font-family: norse-bold;
    display: flex;
    position: absolute;
    background-color: black;
    color: white;
    font-size: 64px;
    top: 25%;
    width: 33.2%;
    opacity: 75%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo-odin {
    height: 10%;
    width: 10%;
}

.right-side-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;

}

.right-text-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    border-color: orange;
    border-style: solid;
}

.right-form-section {
    flex: 1;
    border-color: purple;
    border-style: solid;
}

.right-create-account {
    flex: 1;
    border-color: yellow;
    border-style: solid;
}